@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #F3F2C8;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-130%, -50%);
}
.center1 {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-130%, -50%);
}

svg {
	  -webkit-transform: translate(-50%, -50%) !important;
}

.card {
  width: 450px;
  height: 150px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card1 {
  width: 450px;
  height: 450px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dfe9f0, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

 
.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}
  

.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  background-color: #0066FF;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}



 



 

.parent-selector{
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  padding:20px;
}

.list-image > img{
  display: inline-block;
  margin: 10px;
  width: 130px;
  heigth: 64px;
  cursor: pointer;
}
.list-image2 > img{
  display: inline-block;
  margin: 10px;
  width: 130px;
  heigth: 64px;
  cursor: pointer;
}

.list-image > img:hover{
  border: solid 2px #1e88e5;
  border-radius: 2px;
}

 

.list-image > img.active{
  border: solid 2px #43a047;
  border-radius: 2px;
}
.list-image2 > img.active{
  border: solid 2px #43a047;
  border-radius: 2px;
}

.view-image > img{
  max-width: 128px;
  max-height: 128px;
  padding: 10px;
}

/* INPUT TEXT */

.input-div {
  position: relative;
  padding: 15px;
}

.input-text {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #242424;
  outline: 0;
  font-size: 12px;
  color: #242424;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.input-text::placeholder {
  color: transparent;
}

.input-text:placeholder-shown ~ .input-label {
  font-size: 14px;
  cursor: text;
  top: 20px;
}

label,
.input-text:focus ~ .input-label {
  
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #242424;
}

.input-text:focus ~ .input-label {
  color: #242424;
}

.input-text:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #242424;
}

/* BUTTON */

.button{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #424242;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}
.button:hover{
   background-color: #242424;
}
.button:active{
   background-color: #121212;
}

.button > span{
  color: #eeeeee
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #665353;
}
.view-image > img {
    max-width: 170px;
    max-height: 128px;
    padding: 10px;
  
}

 
#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height:  height-footer;
    background-color: #f5f5f5;
     
  }